.wrapper {
  padding-bottom: 100%;
  background: white;
}

.wrapperBlog {
  position: relative;
  left: 0;
  bottom: 0;
  padding-bottom: 20%;
  right: 0;
  overflow: auto;
  background: white;
}

.BlogListArray {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.BlogListError,
.BlogListLoading {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

@media only screen and (max-width: 676px) {
  .BlogListArray {
    display: grid;
    grid-template-columns: 100%;
  }
}
